        body {
            background-color: #F7F6DC;
        }

        h1 {
            color: #66BFBF;
        }

        h2 {
            color: #66BFBF;
        }

        h3 {
            color: #66BFBF;
        }


        hr {
            background-color: white;
            border-style: dotted none none;
            border-color: #CEE5D0;
            border-width: 6px;
            height: 0px;
            width: 79%;
        }

.circular {
border-radius: 100%;
}
